/* --- general blocks > --- */

/* lists > */
.b-list {
	list-style-type:none;
	margin:0;
	padding:0;
}
.b-list-item {
	margin:0;
}
/* lists < */

/* columns > */
.b-content-columns {
	font:0/0 a;
	letter-spacing:-5px;
	word-spacing:-5px;
}
.b-content-column {
	display:inline-block;
	vertical-align:top;
	letter-spacing:normal;
	word-spacing:normal;
	text-align:left;
}
/* columns < */

/* tabs > */
.b-tabs {
	margin:0;
    overflow:hidden;
	padding:0;
    position: relative;
	/*width: 100%;*/
}
.b-tabs__tab-title {
	float:left;
	cursor:pointer;
}
.b-tabs__tab-content {
	display:none;
	float:right;
	margin:0 0 0 -100%;
	overflow:hidden;
	position:relative;
	width: 100%;
}
.b-tabs__tab-content_state_selected {
	display:block;
}
#nojs .b-tabs__tab-title {
	cursor:default;
	float:none;
}
#nojs .b-tabs__tab-content {
	display:block;
	float:none;
	margin:0;
}
.b-tabs__tab-text {
	cursor:pointer;
}
.b-tab {
	display:inline-block;
}
.b-tabs__tab-title_state_selected,
.b-tabs__tab-title_state_selected .b-tabs__tab-text,
.b-tab_state_selected .b-tab-text {
	cursor:default;
}
/* tabs < */

/* spacer > */
.b-content-columns__spacer,
.b-content-spacer
{
	font:0/0 a !important;

	display:inline-block;
	visibility:hidden;

	margin:0 !important;
	padding:0 !important;

	width:100% !important;
	height:0 !important;
}
/* spacer < */

/* --- general blocks < --- */
