html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
}
code, kbd, tt, pre {
	font: 13px/20px "Courier New", Courier, monospace;
}
img {
	border:none;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
del:hover, s:hover {
	text-decoration:line-through;
}
legend {
	display: none;
}
html {
	height:100%;
}
body {
	font:0.75em/1.333  Arial, Helvetica, sans-serif;
	min-width:980px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin:0;
}
h1, .h1 {
}
h2, .h2 {
}
h3, .h3 {
}
h4, .h4 {
}
:link, :link:visited, .b-link {
}
:link:hover, :link:visited:hover, .b-link:hover {
	text-decoration:none;
}
:focus {
	outline:0;
}
.b-link_type_pseudo {
	border-bottom: 1px dotted;
	cursor:pointer;
	text-decoration:none;
}
.b-link_type_pseudo:hover {
	border-bottom:1px solid transparent;
}
p {
	margin:0;
	padding:0;
}
br {
}
ul {
	list-style-position: outside;
	padding:0;
}
ol {
	list-style-position: outside;
	padding:0;
}
li{
	margin:0;
}

/* .b-pure-content > */
.b-pure-content {
}
.b-pure-content p {
}
	/* links > */
	.b-pure-content :link,
	.b-pure-content :link:visited,
	.b-pure-content .b-link
	{
	}
	.b-pure-content :link:hover,
	.b-pure-content :visited:hover,
	.b-pure-content .b-link:hover
	{
	}
	/* links < */

	/* lists > */
	.b-pure-content ul {
	}
	.b-pure-content ul li {
		/*list-style-type:none;*/
	}
	.b-pure-content ul li:before {
		/*content:'';*/
		/*display:list-item;*/
		/*list-style-type:disc;*/
		/*position:absolute;*/
	}
	.b-pure-content ul li:before {
	}
	.b-pure-content ul li ul li:before {
	}
	.b-pure-content ul li ul li ul li:before {
	}
	.b-pure-content li ul {
	}
	.b-pure-content ul ul {
	}
	/* lists < */

	/* table > */
	.b-pure-content caption {
	}
	.b-pure-content table {
	}
	.b-pure-content tr:first-child th,
	.b-pure-content tr:first-child td {
	}
	.b-pure-content th,
	.b-pure-content td {
	}
	.b-pure-content tbody th {
	}
	/* table < */

/* .b-pure-content < */

/* clearing > */
.clearfix:after,
.b-stripe:after,
.b-header:after,
.b-main:after,
.b-footer:after,
.b-footer__in:after,
.b-column:after,
.b-corners:after,
.b-corners__in:after {
	content:"";
	clear:both;
	display:block;
	height:0;
	font:0/0 a;
	visibility:hidden;
}
/* clearing < */