/* .b-page > */
.b-page {
	overflow:hidden;
}
/* .b-page < */

/* .b-stripe > */
.b-stripe {
	clear:left;
	position:relative;
	width:960px;
	margin:0 auto 10px;
}
.b-stripe_type_overhang {
	position:static;
	width:100%;
}
	.b-stripe_type_overhang .b-stripe__in {
		position:relative;
		width:960px;
		margin:0 auto;
	}
.b-stripe_type_outer {
	margin-bottom:-1px;
	padding-bottom:1px;
}
/* .b-stripe < */

/* .b-column > */
.b-column {
	float:left;
	margin:0 -100% 0 0;
	position:relative;
	width:100%;
}
.b-column_layout_a {
}
	.b-column_layout_a .b-column__in {
	}
.b-column_layout_b {
}
	.b-column_layout_b .b-column__in {
	}

.b-column_layout_c {
}
	.b-column_layout_c .b-column__in {
	}
.b-column_layout_ab {
}
	.b-column_layout_ab .b-column__in {
	}
/* .b-column < */