<?xml version="1.0" encoding="UTF-8" ?>
<settings>
	<!-- html -->
	<include xmlns="http://www.w3.org/2001/XInclude" href="../../vendors/slcf-nano-core/html.blocks/default-semantic.xml"/>
	<include xmlns="http://www.w3.org/2001/XInclude" href="html.blocks/default-semantic.xml"/>

	<!--templates-->
	<include xmlns="http://www.w3.org/2001/XInclude" href="../../vendors/slcf-nano-core/templates/t__xdocument.xml"/>
	<include xmlns="http://www.w3.org/2001/XInclude" href="../../vendors/slcf-nano-core/templates/layout.xml"/>
	<include xmlns="http://www.w3.org/2001/XInclude" href="templates/templates.xml"/>


</settings>
